ul{
    list-style: none;
    font-weight: 400;
    font-size: large;
    display: flex;
    margin-left: 25rem;
    margin-right: 0.625rem;
    justify-content: space-between;
    height: 3rem;
}
a{
    text-decoration: none;
}
nav{
    background-color: aqua;
}
.home__image{
    margin-left: 0.5rem;
    height: 30rem;
    width: 60rem;
}
.description__paragraph{
    text-transform: capitalize;
    margin-top: 1rem;
    font-size: 1.5rem;
}
.first-div{
    display: flex;
    text-align: justify;
    font-size: 1.5rem;
    font-weight: 400;
    text-transform: capitalize;
}
.cement-div{
    padding-left: 2rem;
}
.tiles-div{
    padding-left: 2rem; 
}
.iron-sheets-div{
    padding-left: 2rem; 
}
.second__div{
    display: flex;
    text-align: justify;
    font-size: 1.5rem;
    font-weight: 400;
    text-transform: capitalize;
    background-color: #66BFBF;
    margin-bottom: 3rem;
}
.nails-div{
    padding-left: 2rem;
}
.paints-div{
    padding-left: 2rem; 
}
.general-construction-tools__div{
    padding-left: 2rem; 
}
    
.third-div{
    display: flex;
    text-align: justify;
    font-size: 1.5rem;
    font-weight: 400;
    text-transform: capitalize;
}
.bricks-div{
    padding-left: 2rem;
    size: 1rem 2rem;
}
.construction-blocks-div{
    padding-left: 2rem; 
}
.sinks-div{
    padding-left: 3rem; 
}
.location-div{
    background-color: #EAF6F6;
    height: 4rem;
}

.bricks__img{
    height: 20rem;
    width: 20rem;
}
.contact-us{
    background-color: #11999D;
    /* height: 5rem; */
    text-align: center;
    text-transform: capitalize;
    font-size: x-large;
    margin-top: 2rem;

}

.contact-us svg{
    --size: 3rem;
    width: var(--size);
    height: var(--size);
    border: 3px solid red;
}


   
